<html>
<head>
  <title>Summaries - {{ dirname }}</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons&family=Open+Sans" rel="stylesheet">
  <link href="/folderstyle.css" rel="stylesheet">
</head>
<body>
  <div style="display:flex;justify-content:space-between;">
    <h1>{{ dirname }}</h1>
    <div class="links">
      <p><a href="https://files.containerbepita.ml/Misha/lin2_renders/" target="_blank">קבצי ליך - שיעורי שלומי</a></p>
      <p><a href="https://files.containerbepita.ml/Misha/shlomi_renders/" target="_blank">קבצי ליך - שיעורי לינארית</a></p>
    </div>
  </div>
  <div class="files">
    {% for entry in entries %}
      {% if entry[0] == "file" %}
      <div class="file">
        <a class="file-link" href="{{ entry[1] }}">
          <i class="file-or-folder-icon material-icons">text_snippet</i>
          <div class="file-name">{{ entry[1] }}</div>
        </a>
        <a href="{{ entry[1] }}" download><i class="material-icons">cloud_download</i></a>
      </div>
      {% else %}
        <div class="file">
          <a href="{{ entry[1] }}" class="file-link">
            <i class="file-or-folder-icon material-icons">folder</i>
            <div class="file-name">{{ entry[1] }}</div>
          </a>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</body>
</html>
