# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The typeh of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      - name: Install Python
        run: sudo apt-get install python3
      - name: Install Lyx
        run: |
          sudo add-apt-repository -y ppa:lyx-devel/release
          sudo apt-get install lyx
      - name: Install Texlive
        run: sudo apt-get install texlive-lang-other
      - name: Install Culmus
        run: TEMP_DEB="$(mktemp)" && wget -O "$TEMP_DEB" 'https://master.dl.sourceforge.net/project/ivritex/culmus-latex/culmus-latex-0.7/culmus-latex_0.7-1_all_fixed.deb' && sudo dpkg -i "$TEMP_DEB" && rm -f "$TEMP_DEB"
      - name: Run compile.py
        run: python3 compile.py
      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Automated PDF updates
          commit_user_name: LyX to PDF Bot
          commit_user_email: lyxtopdf@farberbrodsky.com
          commit_author: LyX To PDF <actions@github.com>
